body
{
    color: #fefefe;
    background-color:#5a4330d8;
    font-family: Corbel;
}
a
{
    text-decoration: none;
    color:#000000;
}
form > a
{
    color:white;
}
fieldset
{
    border-radius:15px;
}
input,
select,
button
{
    border-radius: 15px;;
}
i
{
    color:yellow;
    -webkit-text-stroke: 1.5px black;
}
button,
button > a
{
    background-color:rgb(66, 60, 45);
    color:#9e7a5dd8;
}