body
{
	background-color: #191d21;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: #efefef;
}

a:link 
{
    color: #fff;
	text-decoration: none;
}

a:visited 
{
    color: #9ac4fc;
}

a:hover 
{
    color: #17305e;
}

a:active 
{    
	color: #00043a;
}

.container
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	text-align: center;
	padding: 0;
	margin-bottom: 25px;
}

.postcard
{
	display: inline-block;
	width: 460px;
	text-align: center;
	padding: 5px;
}

.postcard p
{
	padding: 5px;
	margin-top: 10px;
}

h1
{
	font-size: 32px;
	font-weight: 400;
	color: #39a5f1;
	margin-top: 45px;	
	margin-bottom: 30px;
	letter-spacing: 10px;
	text-transform: uppercase;
}

/* Hover effects */

.photo1
{
	width: 450px;
	transition: transform 0.2s ease-in-out;
}
.photo1:hover
{
	transform:scale(0.9);
}

.photo2
{
	width: 450px;
	transition: transform 2s ease-in-out;
}
.photo2:hover
{
	transform:scale(0.8) rotate(-360deg) ;
}
.photo3
{
	width: 450px;
}
.overlay
{
	position: relative;
	width:450px;
	height: 283px;
}
.overlay .link
{
	position: absolute;
	text-align: center;
	height:60px;
	width:450px;
	background-color: #111;
	bottom:5px;
	left:0px;
	opacity:0;
	transition: 0.2s ease-in-out;
}
.overlay:hover .link
{
	opacity:0.8;
}
.overlay:hover .link:hover
{
	color:rgb(185, 185, 185);
}
.overlay .link2
{
	position: absolute;
	text-align: center;
	height:278px;
	width:450px;
	background-color: #296341;
	bottom:5px;
	left:0px;
	opacity:0;
	transition: 0.2s ease-in-out;
	text-align: center;
	justify-content: center;
}
.overlay:hover .link2
{
	opacity:0.8;
}
.overlay:hover .link2:hover
{
	color:rgb(255, 255, 255);
}
.photo4
{
	width: 450px;
}
.photo4:hover
{
	width: 450px;
}

.photo5
{
	width: 450px;
}

.photo6
{
	width: 450px;
}
