body
{
    /*backgorund pattern form subtlepatterns.com */
    background-image: url(img/hexellence.png);
    font-size: 20px;
}
#container
{
    background-color: white;
    width:300px;
    padding:50px; 
    margin-left:auto;
    margin-right:auto;
    margin-top:100px;
    box-shadow: 3px 3px 3px 1px #535353;
    -webkit-box-shadow: 3px 3px 3px 1px #535353;
    -moz-box-shadow: 3px 3px 3px 1px #535353;

}
input
{
    width:300px;
    background-color: #efefef;
    color: #666;
    border: 2px solid #ddd;
    border-radius:5px;
    font-size:20px;
    padding:10px;
    box-sizing: border-box;
    outline:none;
    margin-top: 15px;
}
input[type=submit]
{
    background-color:rgb(77, 151, 77) ;
    color:white;
    border:none;
    margin-top:20px;
    cursor:pointer;
    letter-spacing: 2px;
}
input[type=submit]:hover
{
    background-color:rgb(18, 87, 18);
}
input:focus
{
    background-color: rgb(221, 252, 209);
    box-shadow: 2px 2px 2px 1px #9b9b9b;
    border:2px solid #a5cda5;
}
input[type=submit]:focus
{
    border:none;
    background-color: rgb(18, 87, 18);
}
input::-webkit-input-placeholder
{
    color:#666;
}
input:focus::-webkit-input-placeholder
{
    color:rgb(221, 252, 209);
}