body
{
    background-color: #202020;
    color:aliceblue;   
}
#container
{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#logo
{

}
#menu
{

}
#topbar
{

}
#sidebar
{

}
#content
{

}
#footer
{

}