body
{
    background-color: rgb(71, 71, 71);
    color:aliceblue;
    font-size:17px;
    font-family: 'Open Sans', sans-serif;
    margin:0px;
    padding:0 60px;
    text-align: center;
}
header
{
    text-align: center;
}
.row
{
  margin:20px 10px;  
}
.select
{
    margin:10px 20px;
}
.kol
{
    display: inline-block;
    margin:0 10px;   
}
#container
{
    margin-top:100px;
    text-align: center;
}
#powrot
{
    text-align: center;
    margin-top: 50px;
}
#powrot a
{
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 5px;
}
.button
{
    text-align: center;
}
.button input
{
    font-size:25px;
}
.ankieta
{
    margin:10px;
    margin-left:200px;
    text-align: left;
}
.select
{
    margin:10px; 
}
.multi
{
    margin:10px; 
}
.ilosc
{
    margin:10px; 
}
.poll
{
    margin:10px;
}
#komentarz
{
    resize: none;
}